<!DOCTYPE html>
<html >
<head>
    <title>@Page.Title</title>


@*
  <link rel="stylesheet" href="Angularjs/css/app.css">
  <link rel="stylesheet" href="Angularjs/css/bootstrap.css">
  <script src="Angularjs/lib/angular/angular.js"></script>
   <script src="Angularjs/js/controllers.js"></script>
    <script src="Angularjs/js/app.js"></script>*@
    <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
   

    @Assets.CSS("bootstrap.css")
 
</head>
<body>


        @RenderBody()

</body>
</html>
